@keyframes rotationAnim {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.loading-div {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    border: 20px solid var(--c4);
    animation-name: rotationAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.loading-div::before {
    content: "";
    position: absolute;
    top: -13%;
    left: -13%;
    width: 150px;
    height: 150px;
    background: transparent;
    border: 20px solid transparent;
    border-radius: 50%;
    border-top: 20px solid var(--c3);
}